:root {
      --bg: #0F172A;
      --primary: #7C3AED;
      --text: #E5E7EB;
      --accent: #38BDF8;
      --card: #1E293B;
    }

    * { margin: 0; padding: 0; box-sizing: border-box; }

    body {
      font-family: 'Poppins', sans-serif;
      background: var(--bg);
      color: var(--text);
    }

    .container {
      max-width: 1100px;
      margin: auto;
      padding: 20px;
    }
    .logo{
      display: flex;
      flex-direction: row;
      gap: 5px;
    }
    header {
      background-color: #0F172A;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    header img {
      max-width: 40px;
      max-height: 40px;
    }

    header h1 
    { color: var(--accent); }

    .fa-solid.fa-bars {
        display: block;
        margin-left: 10px;
    }

    #menu {
      position: absolute;
      top: 80px;
      right: 20px;
      background: var(--card);
      padding: 15px;
      border-radius: 10px;
      display: none;
      flex-direction: column;
      gap: 10px;
}

    #menu-btn {
      font-size: 1.8em;
      cursor: pointer;
      color: var(--text);
    }

    #menu.active {
      display: flex;
}

    nav a {
      margin-left: 20px;
      color: var(--text);
      text-decoration: none;
      transition: 0.3s;
    }

    nav a:hover 
    { color: var(--accent); }

    .hh{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .imghero {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .imghero img {
    max-width: 700px; 
    width: 100%;
    margin-bottom: 1px auto;
}

    .imghero a{
      font-size: .7em;
      text-decoration: none;
      color: #253349;
      
    }
    .imghero a:hover{
      text-decoration: underline;
    }

    .hero {
      background-color: #0F172A;
      text-align: center;
      padding: 100px 20px;
    }

    .hero h2 {
      font-size: 36px;
      margin-bottom: 15px;
    }

    .hero p {
      margin-bottom: 25px;
      opacity: 0.8;
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }

    .btn {
      background: var(--primary);
      padding: 12px 25px;
      border-radius: 8px;
      color: white;
      text-decoration: none;
      transition: 0.3s;
    }

    .btn:hover { opacity: 0.8; }

    section { margin-bottom: 80px; }

    h2 {
      margin-bottom: 20px;
      color: var(--accent);
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .card {
      background: var(--card);
      padding: 25px;
      border-radius: 12px;
      transition: 0.3s;
    }

    .card img{
      width: 100%;
      aspect-ratio: 16/9;
      
    }

    .card:hover {
      transform: translateY(-8px);
    }

    .card a{
      text-decoration: none;
      color: aliceblue;
    }

    .card h3 { margin-bottom: 10px; }

    /* CONTATO NOVO */
.contato-container {
  margin-top: 80px;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* CARDS */
.contato-form,
.contato-info {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid rgba(124, 58, 237, 0.4);
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.15);
}

/* FORM */
.contato-form h2 {
  margin-bottom: 20px;
}

.contato-form label {
  font-size: 0.9em;
  opacity: 0.8;
}

.contato-form input,
.contato-form textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0 15px;
  border-radius: 10px;
  border: 1px solid #333;
  background: transparent;
  color: var(--text);
  outline: none;
  transition: 0.3s;
}

/* efeito neon */
.contato-form input:focus,
.contato-form textarea:focus {
  border-color: var(--primary);
  box-shadow: 0 0 10px var(--primary);
}

.contato-form textarea {
  height: 120px;
  resize: none;
}

/* BOTÃO */
.contato-form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  background: linear-gradient(90deg, #7C3AED, #a855f7);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.contato-form button:hover {
  opacity: 0.85;
}

/* TEXTO LATERAL */
.contato-info p {
  margin-bottom: 15px;
  line-height: 1.6;
  opacity: 0.85;
}

.contato-info ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

.contato-info li {
  margin-bottom: 8px;
}

    .socials {
      display: flex;
      gap: 15px;
      margin-top: 15px;
      flex-wrap: wrap;
    }

    .socials a {
      text-decoration: none;
      color: var(--accent);
      font-size: 1.5em;
      transition: transform .2s ease-in-out;
    }

    .socials a:hover {
      transform: scale(1.15);
    }

    footer {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      background-color: #1E293B;
      text-align: center;
      padding: 20px;
      opacity: 0.6;
    }
    .navfooter{
      display: flex; 
      flex-direction: row; 
      gap: 50px;
      align-items: center;
    }
    .navfooter a {
      text-decoration: none;
      color: #38BDF8;
    }

    .navfooter a:hover{
      text-decoration: underline;
    }

    .socialfooter a {
      color: #7C3AED;
      font-size: 1.5em;
    }

    footer p{
      color: #4d6ca1;
      font-size: 1em;
    }


  /* DESKTOP */ 
  @media(min-width: 768px) { 
    .fa-solid.fa-bars {
    display: none;
    }

    #menu {
      position: static;
      display: flex;
      flex-direction: row;
      background: none;
      padding: 0;
    }

    .hh{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 30px;
    }

    .hero {
      margin-top: 100px ;
    }

    .hero h2{
      white-space: nowrap;
    }

    .imghero {
      gap: 0px;
    }

    .projects {
      grid-template-columns: repeat(3, 1fr);
    }

    .contato-grid {
    grid-template-columns: 1fr 1fr;
  }
  }

 